
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); /* Poppins */

html, body {
  font-family: 'Poppins', sans-serif; color: white;
  background-color: black;
}

a, a:hover, a:active, a:visited { color:chartreuse; }

.container {
  max-width: 840px; display: block;
  margin: 0 auto 0 auto; padding: 0 15px 0 15px;
}

#mainSection {
  width: 100%; margin: 150px 0 10px 0; padding: 1rem;
  background-color: #0A0A0A;
  border: 1px solid #212121; border-radius: 4px;
}

#avatar {
  max-width: 100%; width: 200px; display: block;
  margin: -120px auto 20px auto;
  border: 3px solid #212121; border-radius: 50%;
}